body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: rgb(3, 3, 3);
}

/* Lay-out Elements */

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: rgb(3, 3, 3);
}
.title.head {
  margin-bottom: 0;
}

.main-grid {
  display: grid;
  grid-template-areas: "header" "navBtnDiv" "sneakerContainer" "brandIndexContainer";
  padding: 5px;
}

/* Components  */
.header {
  grid-area: header;
  background-color: rgb(125, 197, 173);
  font-weight: 800;
  display: fixed;
  box-shadow: 3px 3px 1px rgba(14, 14, 14, 0.1);
}

.header img {
  height: 150px;
  width: auto;
}

.navBtnDiv {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(125, 197, 173);
  grid-area: navBtnDiv;
  padding-bottom: 10px;
  box-shadow: 3px 3px 1px rgba(14, 14, 14, 0.1);
}

.navBtnDiv h4 {
  /* width: 100px;
  height: 100px; */
  margin: auto;
  font-weight: 700;
}

.sneakerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: sneakerContainer;
}

.brandIndex.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: brandIndexContainer;
}

.single-sneaker {
  margin: auto;
  display: grid;
  grid-template-areas: "sneakerBrand sneakerHeading . ." "sneakerPicDiv sneakerPicDiv . sneakerRelease " "sneakerPicDiv sneakerPicDiv . ." "sneakerPicDiv sneakerPicDiv . sneakerPrice" ". . . editBtn";
  grid-template-columns: 175px 175px 2fr 3fr;
  grid-template-rows: auto auto auto auto auto;
  padding: 20px 30px;
  box-shadow: 2px 2px 1px rgba(14, 14, 14, 0.1);
}

.sneakerBrand {
  grid-area: sneakerBrand;
  justify-self: end;
  align-self: start;
  padding-right: 5px;
}

.sneakerHeading {
  grid-area: sneakerHeading;
  justify-self: start;
  align-self: end;
  padding-left: 5px;
}

.sneakerPicDiv {
  grid-area: sneakerPicDiv;
  padding: 20px;
  align-self: center;
  max-width: 350px;
}

.sneakerPic {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.sneakerPrice {
  grid-area: sneakerPrice;
  justify-self: center;
  align-self: start;
  padding: 20px 20px 50px 20px;
}

.sneakerRelease {
  grid-area: sneakerRelease;
  justify-self: start;
  align-self: start;
  padding: 20px;
}

.editBtn {
  grid-area: editBtn;
  max-width: 75px;
  align-content: flex-start;
  padding: 10px 10px 10px 35px;
}

.edit {
  align-self: start;
}

.deleteBtn {
  grid-area: deleteBtn;
  max-width: 75px;
  padding: 10px;
}

.deleteBtn button {
  margin: auto;
  border-radius: 3px;
}
.createDiv {
  max-width: 500px;
}
.createDiv input {
  max-width: 400px;
}
.createTitle {
  padding: 15px 0px 15px 0px;
}
.createLabel {
  text-align: left;
}
/* .createSneakerFormDiv form {
  display: grid;
  padding: 20px;
  line-height: 145%;
  grid-template-areas: "modelLabel modelInput" "priceLabel priceInput" "releaseLabel releaseInput" "brandLabel brand_id_select" "picLabel picInput" ". btns";
}

.modelLabel {
  grid-area: modelLabel;
  margin: auto;
  padding: 10px;
  max-width: 20vw;
}

.modelInput {
  grid-area: modelInput;
  margin: auto;
  padding: 10px;
  max-width: 30vw;
}

.priceLabel {
  grid-area: priceLabel;
  margin: auto;
  padding: 10px;
  max-width: 20vw;
}

.priceInput {
  grid-area: priceInput;
  margin: auto;
  padding: 10px;
  max-width: 30vw;
}

.releaseInput {
  grid-area: releaseInput;
  margin: auto;
  padding: 10px;
  max-width: 30vw;
}

.brandLabel {
  grid-area: brandLabel;
  padding: 10px;
  margin: auto;
}

.brand_id_select {
  grid-area: brand_id_select;
  margin: auto;
  padding: 10px;
  max-width: 30vw;
}

.releaseLabel {
  grid-area: releaseLabel;
  margin: auto;
  padding: 10px;
}

.picLabel {
  grid-area: picLabel;
  margin: auto;
  padding: 10px;
}

.picInput {
  grid-area: picInput;
  margin: auto;
  padding: 10px;
  max-width: 30vw;
}

.btns {
  grid-area: btns;
  display: flex;
  padding: 20px 40px 0px 0px;
  justify-content: space-evenly;
} */

.saveBtn {
  justify-self: end;
  padding: 10px;
}
.brandsIndex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.single-brand {
  display: grid;
  grid-template-columns: 200px 50px 250px;
  grid-template-areas:
    "brandName . ."
    "brandLogo . brandHq "
    "brandLogo . brandFounded"
    "brandDesc brandDesc brandDesc";
  box-shadow: 2px 2px 1px rgba(14, 14, 14, 0.1);
  max-width: 500px;
}

.brandName {
  grid-area: brandName;
  padding-top: 1em;
}

.brandHq {
  grid-area: brandHq;
  align-self: center;
  justify-self: start;
  padding-right: 2em;
}

.brandFounded {
  grid-area: brandFounded;
  justify-self: start;
  padding-right: 2em;
}

.brand.logoDiv {
  grid-area: brandLogo;
  max-width: 200px;
  align-self: center;
}

.brandLogo {
  grid-area: brandLogo;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.brandDesc {
  grid-area: brandDesc;
  padding: 2em 2em 1em 2em;
  justify-self: center;
}
