body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif
}

/* Lay-out Elements */

.main-grid {
  display: grid;
  grid-template-areas: 'header' 'navBtnDiv' 'sneakerContainer' 'brandIndexContainer';
  padding: 5px;
}


/* Components  */
.header {
  grid-area: header;
  background-color: rgb(125,197,173);
  font-weight: 800;
  display: fixed;
}

.header img {
  height: 150px;
  width: auto;
}

.navBtnDiv {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(125,197,173);
  grid-area: navBtnDiv;
  padding-bottom: 10px;

}

.navBtnDiv button {
  /* width: 100px;
  height: 100px; */
  margin: auto;

}

.sneakerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: sneakerContainer;

}

.brandIndexContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-area: brandIndexContainer;
}

.single-sneaker {
  height: 200px;
  margin: auto;
  display: grid;
  grid-template-areas: 'sneakerBrand . sneakerHeading' 'sneakerPic sneakerPrice sneakerRelease' 'editBtn . deleteBtn';
  grid-template-columns: 200px auto auto;
  grid-template-rows: 40px auto 40px;

}

.sneakerBrand {
  grid-area: sneakerBrand;
}

.sneakerHeading {
  grid-area: sneakerHeading;
}

.sneakerPic {
  grid-area: sneakerPic;
  justify-self: start;
}

.sneakerPrice {
  grid-area: sneakerPrice;
  justify-self: center;
  padding: 10px;
}

.sneakerRelease {
  grid-area: sneakerRelease;
  justify-self: center;
  padding: 10px;
}

.editBtn {
  grid-area: editBtn;
  max-width: 75px;
  padding: 10px;
}

.editBtn button {
  margin: auto;
  border-radius: 3px;
}

.deleteBtn {
  grid-area: deleteBtn;
  max-width: 75px;
  padding: 10px;
}

.deleteBtn button {
  margin: auto;
  border-radius: 3px;
}



