/* Lay-out Elements */



/* Components  */

.navBtnDiv {
    display: flex;
    justify-content: space-evenly;

}

.navBtnDiv.button {
    width: 100px;
    height: 100px;
    margin: auto;

}

.sneakerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.single-sneaker {
    height: 200px;
    margin: auto;
}